.container{
  width: 85%;
  margin: auto;
}

h1{
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
  color: rgb(65, 65, 65);
}

.content{
  width: 100%;
}

.badge button{
  margin-top: 1rem;
  width: 100%;
}

p {
  text-align: end;
  font-weight: 600;
  color: rgb(83, 83, 83);
  padding-bottom: 0;
}

mat-card{
  margin-top: .8rem;
  padding: 1rem;
}
